DATA_DIR=/app/data
PARQUET_URL=https://github.com/firmansyahr/core-platform-V2/releases/download/v1.0-data/transaksi_aegis_synthetic.parquet
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
FRONTEND_URL=
